<a href="https://colab.research.google.com/github/jagadeeshgodavarthi/pythonnew/blob/module-1/module1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##Accept input from user and store it in variable and print the value

name = input("enter the name")

print(name)

enter the namejagadeesh
jagadeesh

In [ ]:
def leap_year(year):
    if year % 400 == 0:
        return True
    if year % 100 == 0:
        return False
    if year % 4 == 0:
        return True
    return False

def days_in_month(month, year):
    if month in {1, 3, 5, 7, 8, 10, 12}:
        return 31
    if month == 2:
        if leap_year(year):
            return 29
        return 28
    return 30

print(days_in_month(4, 2022))

IndentationError: ignored

In [ ]:
a=int(input("enter the month number"))
b=[4,6,9,11]
if a==2:
   print("28\29")
elif a in b:
    print("30")
elif a>13 or a<1:
      print("enter the correct choice")
else:
     print("31")

enter the month number4
30

In [ ]:
a=input("enter a string")
b=a.split()
for i in b:
     if len(i)%2==0:
            print(i)

enter a string22
22

In [ ]:
a=int(input("enter number 1: "))
b=int(input("enter number 2: "))
if a<b:
 print(i)
else:
 for i in range(b,a-1,-1):
  print(i)

enter number 1: 22
enter number 2: 33
22

In [ ]:
##Conversion of one unit to another (such as hours to minutes, miles to km and etc)

hours = int(input("Enter hour: "))
minutes = 60 * hours
print (minutes)

Enter hour: 2
120

In [ ]:
##5 different subject marks from user and displaying the grade of the student

sub1=int(input("Enter marks of the first subject  "))
sub2=int(input("Enter marks of the second subject  "))
sub3=int(input("Enter marks of the third subject  "))
sub4=int(input("Enter marks of the fourth subject  "))
sub5=int(input("Enter marks of the fifth subject  "))
avg=(sub1+sub2+sub3+sub4+sub4)/5
if(avg>=90):
                                       print("Grade: A")
elif(avg>=80&avg<90):
                                       print("Grade: B")
elif(avg>=70&avg<80):
                                       print("Grade: C")
elif(avg>=60&avg<70):
                                       print("Grade: D")
else:
                                        print("Grade: F")

Enter marks of the first subject  93
Enter marks of the second subject  99
Enter marks of the third subject  91
Enter marks of the fourth subject  97
Enter marks of the fifth subject  93
Grade: A

In [ ]:
##Use of print statements and use of (.format )for printing different data types
a= "RRR movie has been released"
b= "i went RRR movie on sunday"
a=123
b="hello {}"
print(b.format(a,b))

hello 123

In [ ]:
##Take 2 numbers as user input and add, multiply, divide, subtract and print
a=int(input())
b=int(input())
add=a+b
print("add",add)
multiply=a*b
print("product",multiply)
divide=a/b
print("divide",divide)
sub=a-b
print("subtract",sub)

10
5
add 15
product 50
divide 2.0
subtract 5

In [ ]:
##Compute compound interest using loop for a certain principal and interest amount
n=int(input("enter the principle amount :"))
rate=int(input("enter the rate :"))
years=int(input("enter the number of years :"))
for i in range(years):
    n=n+((n*rate)/100)
    print(n)

enter the principle amount :200
enter the rate :6
enter the number of years :2
212.0
224.72

In [ ]:
def palindrome (num):
  final = num
  temp = num
  rev = 0
  while (num > 0):
    last = num % 10
    rev = rev * 10 + last
    num = num // 10
  if (temp == rev):
    print (final,"is a palindrome.")
  else:
    print (final,"is not a palindrome.")
def armstrong (num):
  sum = 0
  temp = num
  while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10
  if num == sum:
   print(num,"is an Armstrong number")
  else:
   print(num,"is not an Armstrong number")

def perfect (num):
  sum_v=0  
  for i in range(1,num):  
    if (num%i==0):  
        sum_v=sum_v+i  
  if(sum_v==num):  
    print(num,"is a perfect number")  
  else:  
    print(num,"is not a perfect number")  


num = int(input("Enter a number: "))
palindrome(num)
armstrong (num)
perfect (num)

In [ ]:
##Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc,

import math 

my_int = 4.5467
print (math.ceil(my_int))

5

In [ ]:
import math 

my_int = 4.5467
print (math.floor(my_int))

4

In [ ]:
##Building a mathematical calculator that can perform operations according to user input.

print ("Enter 1 for addition")
print ("Enter 2 for subtraction")
print ("Enter 3 for multiplication")
print ("Enter 4 for division")
op = int(input("Enter number corresponding to operation:"))
a=int(input("Enter a: "))
b=int(input("Enter b: "))
if op == 1:
  print(a + b)
elif op == 2:
  print(a - b)
elif op == 3:
  print(a * b)
elif op == 4:
  print(a / b)
else:
  print("Error")

Enter 1 for addition
Enter 2 for subtraction
Enter 3 for multiplication
Enter 4 for division
Enter number corresponding to operation:55
Enter a: 5
Enter b: 6
Error

In [ ]:
##Printing all even numbers, odd numbers, count of even numbers, count of odd numbers within a given range.

range = int(input("Enter range of numbers: "))
a = 1
even = []
odd = []
while a <= range:
  if a % 2 == 0:
    even.append (a)
    a = a + 1
  else:
    odd.append (a)
    a = a + 1
print ("Even numbers are ",even)
print ("Odd numbers are ",odd)
print ("Number of even number within the given range are ",len(even))
print ("Number of odd number within the given range are ",len(odd))

Enter range of numbers: 5
Even numbers are  [2, 4]
Odd numbers are  [1, 3, 5]
Number of even number within the given range are  2
Number of odd number within the given range are  3

In [ ]:
# GCD
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
a = 1
b = 1
fact1 = []
fact2 = []

trash1 = []
trash2 = []

common = []
result = []
#NUM1
while a <= num1:
  if num1 % a == 0:
    fact1.append(a)
    a = a + 1
  else:
    trash1.append(a)
    a = a + 1
#NUM2
while b <= num2:
  if num2 % b == 0:
    fact2.append(b)
    b = b + 1
  else:
    trash2.append(a)
    b = b + 1
common = (set(fact1).intersection(fact2))
result = list(common)
print("The HCF of",num1,"and",num2,"is",result [-1])6

Enter first number: 5
Enter second number: 7
The HCF of 5 and 7 is 1

In [ ]:
# Fibonacci
nterms = int(input("How many terms? "))
n1, n2 = 0, 1
count = 0
if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       
       n1 = n2
       n2 = nth
       count += 1

How many terms? 5
Fibonacci sequence:
0
1
1
2
3