<a href="https://colab.research.google.com/github/jagadeeshgodavarthi/pythonnew/blob/module-2/module2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##Recursive function to compute GCD of 2 number
def Diff(A, B):
   print("Difference of two lists ::>")
   return (list(set(A) - set(B))) 

# Driver Code 
A=list()
n1=int(input("Enter the size of the first List ::"))

print("Enter the Element of first List ::")
for i in range(int(n1)):
   k=int(input(""))
   A.append(k)
B=list()
n2=int(input("Enter the size of the second List ::"))
print("Enter the Element of second List ::")
for i in range(int(n2)):
        k=int(input(""))
         B.append(k)
print(Diff(A, B))

In [ ]:
##Python program to create a list of tuples having first element as the number and second element as the square of the number
list1 =[1,4,5,8]
res = [(val, pow(val, 2)) for val in list1]
print(res)

[(1, 1), (4, 16), (5, 25), (8, 64)]

In [ ]:
## Program to remove a key from a dictionary
x = {'a':1,'b':2,'c':3,'d':4}
print(x)
if 'a' in x: 
    del x ['a']
print(x)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'b': 2, 'c': 3, 'd': 4}

In [ ]:
##Given list of tuples, remove all the tuples with length K. 

test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
print("The original list : " + str(test_list))
K=1
res = [ele for ele in test_list if len(ele) != K]
print("Filtered list : " + str(res))

The original list : [(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
Filtered list : [(4, 5), (8, 6, 7), (3, 4, 6, 7)]

In [ ]:
##Program to get the maximum and minimum value in a dictionary
dictionary = {"a": 10, "b": 2, "c": 6}
min_key = min(dictionary, key=dictionary.get)
 
print(min_key)

print(dictionary.get(min_key))

b
2

In [ ]:
##Program to Acronym generator for any user input
class Solution:
   def solve(self, s):
      tokens=s.split()
      string=""
      for word in tokens:
         if word != "and":
            string += str(word[0])
      return string.upper()
ob = Solution()
print(ob.solve("bcci"))

B

In [ ]:
# Function to replace all occurrences of AB with C
  
def replaceABwithC(input, pattern, replaceWith):
    return input.replace(pattern, replaceWith)
  
# Driver program
if __name__ == "__main__":
    input   = 'the game'
    pattern = 'game'
    replaceWith = 'cricket'
    print (replaceABwithC(input,pattern,replaceWith))

the cricket

In [ ]:
##replace a string with another one
txt = "I like orange"

a = txt.replace("orange", "grapes")

print(a)

I like grapes

In [ ]:
##Program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings 
def match_words(words):
  ctr = 0

  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      ctr += 1
  return ctr

print(match_words(['abc', 'xyz', 'aba', '1221']))

2

In [ ]:
##Program to get the maximum and minimum value in a dictionary
my_dict = {'x':500, 'y':5874, 'z': 560}

key_max = max(my_dict.keys(), key=(lambda k: my_dict[k]))
key_min = min(my_dict.keys(), key=(lambda k: my_dict[k]))

print('Maximum Value: ',my_dict[key_max])
print('Minimum Value: ',my_dict[key_min])

In [ ]:
##Python function that accepts a string and calculates the number of uppercase letters and lowercase letters
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('The quick Brown Fox')

Original String :  The quick Brown Fox
No. of Upper case characters :  3
No. of Lower case Characters :  13

In [ ]:
##Program to generate and print a dictionary that contains a number 
n=int(input("Input a number "))
d = dict()

for x in range(1,n+1):
    d[x]=x*x

print(d)

Input a number 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
##Create a function which accepts two inputs from the user and compute nCr
def fact(z):  
    f = 1  
    if z == 0:  
        return f;  
    else:  
        for i in range(1,z+1):  
            f = f * i;  
        return f;  
  
  
n=int(input("Enter the value of n"))  
r = int(input("Enter the value of r"))  
nCr = fact(n) / (fact(r) * fact(n - r));  
print("\nnCr = %d" %(nCr));

Enter the value of n5
Enter the value of r2

nCr = 10