<a href="https://colab.research.google.com/github/jagadeeshgodavarthi/pythonnew/blob/module-3/module3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##read an entire text file.
import pandas
jagadeesh = {'companies':['Amazon','Wipro','Adantel','Adobe'],'location':['vjy','Vsp','Blr','hyd']}
x = pandas.DataFrame(jagadeesh)
print(x)

  companies location
0    Amazon      vjy
1     Wipro      Vsp
2   Adantel      Blr
3     Adobe      hyd

In [ ]:
##read the first n lines of a file.
import pandas as pd
jagadeesh = {'companies':['Amazon','Wipro','Adantel','Adobe'],'location':['Hyd','Vsp','Blr','Chennai']}
x = pd.DataFrame(jagadeesh)
print(x)

  companies location
0    Amazon      Hyd
1     Wipro      Vsp
2   Adantel      Blr
3     Adobe  Chennai

In [ ]:
##append text to a file and display the text.
import pandas as pd
marks = [98,32.9,41,28]
jagadeesh = pd.Series(marks)
print(jagadeesh)

0    98.0
1    32.9
2    41.0
3    28.0
dtype: float64

In [ ]:
#append text to a file and display the text.
import pandas as pd
marks = [98,32.9,41,28]
jagadeesh = pd.Series(marks)
print(jagadeesh)

0    98.0
1    32.9
2    41.0
3    28.0
dtype: float64

In [ ]:
##x Count characters, words and lines in a text file.
import pandas as pd
marks = [28, 29.5, 15]
jagadeesh = pd.Series(marks, index = ["rohit", "virat", "bumurah"])
print(jagadeesh)

rohit      28.0
virat      29.5
bumurah    15.0
dtype: float64

In [34]:
##Write a Pandas program to read specific columns from a given excel file.
 import pandas as pd
marks = [28, 29.5, 15]
jagadeesh = pd.Series(marks, index = ["rohit", "virat", "bumurah"])
print(jagadeesh)
print(marks["rohit"])

In [ ]:
##x To write a list to a file.
import pandas as pd
jagadeesh = {"d1": 12, "d2": 10, "d3": 8}
x = pd.Series(jagadeesh)
print(x)

d1    12
d2    10
d3     8
dtype: int64

In [ ]:
##Print only limited data as per the labels:
import pandas as pd
jagadeesh = {"d1": 12, "d2": 10, "d3": 8}
x = pd.Series(jagadeesh,index=["d1","d2"])
print(x)

d1    12
d2    10
dtype: int64

In [ ]:
##Given a dataframe, select rows based on a condition.
import pandas as pd
jagadeesh = {
  "Employees": ["rohit", "virat", "bumurah"],
  "Publications": [50, 40, 45]
}
x = pd.DataFrame(jagadeesh)
print(x)

  Employees  Publications
0     rohit            50
1     virat            40
2   bumurah            45

In [ ]:
##Given a dataframe, select rows based on a condition.
import pandas as pd
empPublications = {
  "Employees": ["rohit", "virat", "bumurah"],
  "Publications": [50, 40, 45]
}
myvar = pd.DataFrame(empPublications,index=["2001","2002","2003"])
print(myvar)
print(myvar.loc["2003"])

     Employees  Publications
2001     rohit            50
2002     virat            40
2003   bumurah            45
Employees       bumurah
Publications         45
Name: 2003, dtype: object

In [ ]:
##x Given a CSV file or excel file to read it into a dataframe and display it.
import pandas as pd
df = pd.read_csv('jagadeesh.csv')
print(df)

In [ ]:
##x Given a dataframe, select rows based on a condition.
import pandas as pd
  
record = {
  
 'Name': ['Ankit', 'Amit', 'Aishwarya', 'Priyanka', 'Priya', 'Shaurya' ],
 'Age': [21, 19, 20, 18, 17, 21],
 'Stream': ['Math', 'Commerce', 'Science', 'Math', 'Math', 'Science'],
 'Percentage': [88, 92, 95, 70, 65, 78] }
  

dataframe = pd.DataFrame(record, columns = ['Name', 'Age', 'Stream', 'Percentage'])
  
print("Given Dataframe :\n", dataframe) 
  
rslt_df = dataframe[dataframe['Percentage'] > 80]
  
print('\nResult dataframe :\n', rslt_df)

Given Dataframe :
         Name  Age    Stream  Percentage
0      Ankit   21      Math          88
1       Amit   19  Commerce          92
2  Aishwarya   20   Science          95
3   Priyanka   18      Math          70
4      Priya   17      Math          65
5    Shaurya   21   Science          78

Result dataframe :
         Name  Age    Stream  Percentage
0      Ankit   21      Math          88
1       Amit   19  Commerce          92
2  Aishwarya   20   Science          95