<a href="https://colab.research.google.com/github/jagadeeshgodavarthi/pythonnew/blob/module-5/reg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import re

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
if "rain" in txt:
     print("found")
else:
     print("not found")

found

Sharma scored ODI double-hundreds for fun, won five IPLs in its first 12 editions, scored five hundreds at the 2019 ODI World Cup, and when he finally got to open in Tests in 2019, three quick hundreds in his first series, one of them a double. Sharma became one of the colossal six-hitters of his era. So spectacular and certain was his acceleration that people began anticipate a double-century every time he went past a score of 50.

In [ ]:
import re
txt="Sharma scored ODI double-hundreds for fun, won five IPLs in its first 12 editions, scored five hundreds at the 2019 ODI World Cup, and when he finally got to open in Tests in 2019, three quick hundreds in his first series, one of them a double. Sharma became one of the colossal six-hitters of his era. So spectacular and certain was his acceleration that people began anticipate a double-century every time he went past a score of 50."
x=re.search("won five",txt)

if x:
  print("match found")
else:
  print("match not found")

match found

In [ ]:
import re
txt="A topic sentence is the first sentence of the body paragraph. Simply put, the topic sentence introduces the topic of the paragraph. A good topic sentence will be broad enough to allow for explication but narrow enough that it does not require a paragraph that is too long."
x=re.search("topic",txt)
if x:
  print("match found")
else:
  print("match not found")

match found

In [ ]:
import re 
txt="A topic sentence is the first sentence of the body paragraph."
x = re.split("\s", txt)
print(x)

['A', 'topic', 'sentence', 'is', 'the', 'first', 'sentence', 'of', 'the', 'body', 'paragraph.']

In [2]:
#Split the string at the first white-space character:
import re
txt = "Not Sure Where To Begin"
x = re.split("\s", txt, 1)
print(x)

['Not', 'Sure Where To Begin']

In [3]:
#Replace all white-space characters with the digit "6":
import re
txt = "Not Sure Where To Begin"
x = re.sub("\s", "6", txt)
print(x)

Not6Sure6Where6To6Begin

In [5]:
#Replace the first two occurrences of a white-space character with the digit 3:
import re
txt = "The rain in Spain"
x = re.sub("\s", "3", txt, 2)
print(x)

The3rain3in Spain

In [6]:
#The search() function returns a Match object:
import re
txt = "Not Sure Where To Begin"
x = re.search("ai", txt)
print(x)

None

In [7]:
#Search for an upper case "S" character in the beginning of a word, and print the word:
import re
txt = "Not Sure Where To Begin"
x = re.search(r"\bS\w+", txt)
print(x.group())

Sure